$bp-xs: 22.5rem;
$bp-sm: 30rem;
$bp-md: 48rem;
$bp-lg: 64rem;
$bp-xl: 90rem;

@mixin below($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin above($width) {
  @media (min-width: $width) {
    @content;
  }
}
