.text-pressure {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
}

.text-pressure__title {
  width: 100%;
  margin: 0;
  color: inherit;
  font-weight: 100;
  padding-top: 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
  transform-origin: center top;
}

.text-pressure__title--flex {
  display: flex;
  justify-content: space-between;
}

.text-pressure__char {
  display: inline-block;
  will-change: transform, font-variation-settings;
}

.text-pressure__title--stroke .text-pressure__char {
  position: relative;
  color: var(--text-pressure-color);

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: transparent;
    content: attr(data-char);
    -webkit-text-stroke: 3px var(--text-pressure-stroke);
  }
}
